<ion-view view-title="#LeoFormou">
  <ion-content>
    
      <div class="container">
        <h4>Contatos</h4>

        <div class="row">
          <!--Leo -->
          <div class="col s12 m6">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light col align-self-center">
                    <img class="activator align-self-center" src="img\avatar-leonardo.png" style="margin-right: auto; margin-left: auto; max-width: 50%;">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Leonardo<i class="material-icons ion-information-circled right"></i></span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons ion-close-circled right"></i></span>
                      <p style="margin-top: 10px;">
                        71 99931-6166 <br>
                        71 99215-7726
                      </p>
                  </div>
                </div>                
          </div>

          <!--Deiv -->
          <div class="col s12 m6">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light col align-self-center">
                    <img class="activator align-self-center" src="img\banner-local.png" style="margin-right: auto; margin-left: auto; max-width: 50%;">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Deivisson<i class="material-icons ion-information-circled right"></i></span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons ion-close-circled right"></i></span>
                    <p style="margin-top: 10px;">Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>                
          </div>

        </div>

        <div class="row">            
            <!--Nucy -->
            <div class="col s12 m6">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light col align-self-center">
                    <img class="activator align-self-center" src="img\banner-local.png" style="margin-right: auto; margin-left: auto; max-width: 50%;">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Inocência<i class="material-icons ion-information-circled right"></i></span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons ion-close-circled right"></i></span>
                    <p style="margin-top: 10px;">Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>                
            </div>

            <!--Naldo -->
            <div class="col s12 m6">
              <div class="card">
                  <div class="card-image waves-effect waves-block waves-light col align-self-center">
                    <img class="activator align-self-center" src="img\banner-local.png" style="margin-right: auto; margin-left: auto; max-width: 50%;">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Leonardo<i class="material-icons ion-information-circled right"></i></span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons ion-close-circled right"></i></span>
                    <p style="margin-top: 10px;">Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>                
            </div>
        </div>

        <h4>Outro Texto</h4>
      </div>
  </ion-content>
</ion-view>
